<%- include('../partials/header.ejs')%>
    <div class="form-group m-2 pt-1 px-2 rounded">
        <% for(let cluck of clucks){ %>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="d-flex"> 
                        <div class="p-2 ">
                            <img class="rounded" src="<%- randomImage %>" alt="image">
                        </div>
                        <div>
                            <div class="d-flex">
                                <h5><%- cluck.username%></h5>
                                <h3 class="fs-5 px-2 "> • </h3>
                                <label class="ms-rtl-2"> <%- friendlyTime(cluck.created_at) %></label>
                            </div>                                
                            <p><%= cluck.content%></p>
                                
                            <% if(cluck.image_url){ %>                
                                <img class="rounded" style="width:250px;border:1px solid #000;" src="<%- cluck.image_url%>" alt="">                
                            <% } %>
                        </div>
                    </div>        
                </div>
            </div>
        <% } %>
    </div>
<%- include('../partials/footer.ejs')%>